@model IEnumerable<QuanLyKho.Models.SalesData>

    <div>
        <canvas id="salesChart"></canvas>
    </div>

    @section scripts {
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/chart.min.js"></script>
        <script>
            var salesData = @Html.Raw(Json.Encode(ViewBag.SalesData));

            var labels = salesData.map(function (data) {
                return data.TenSP;
            });

            var data = salesData.map(function (data) {
                return data.SoLuongXuat;
            });

            var ctx = document.getElementById('salesChart').getContext('2d');
            var chart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'SalesData',
                        data: data,
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        borderColor: 'rgba(255, 99, 132, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        </script>
    }
@*@model IEnumerable<QuanLyKho.Models.SalesData>

<table>
    <thead>
        <tr>
            <th>TenSP</th>
            <th>SoLuongXuat</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.SalesData)
        {
            <tr>
                <td>@item.TenSP</td>
                <td>@item.SoLuongXuat</td>
            </tr>
        }
    </tbody>
</table>*@
